.side-bar
  .side-bar__header
    .side-bar__header__items
      .side-bar__header__items__name
        %b name
      .side-bar__header__items__icons
        = link_to "~", class: "side-bar__header__items__icons" do
          = icon('far', 'edit',  class: "side-bar__header__items__icons--edit")
          %span<>
        = link_to "~", class: "side-bar__header__items__icons" do
          = icon('fas', 'cog', class: "side-bar__header__items__icons--con") 
    .side-bar__groups-list
      .group
        .group-name
          group
        .group-info
          まだメッセージがありません
