* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
} 

body {
  width: 100%;
  height: 100%;
} 


.wrapper {
  display: flex;
  height: 100%;
}

$side-font: #ffffff;
$btn-colar: #38aef0;

@mixin flex {
  display: flex;
  align-items: center;
}


.side-bar  {
  width: 300px;
  background-color: #253141;
  &__header {
    height: 100px;
    font-size: $fontSizeLarge;
    color: $side-font;
    &__items {
      line-height: 100px;
      @include flex;
      justify-content: space-between;
      padding: 0 20px ;
      &__name{
          font-weight: bold;
      }
      &__icons {
        width: 60px;
        text-align: right;
        color: $side-font;
        text-decoration: none;
        &--edit {
          padding-right: 5px;
        }
      }
    }
  }

  &__groups-list {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 20px 20px;
    color: $side-font;
    .group {
      a{
        text-decoration: none;
        color: $side-font;
      }
      &-name{
        font-size: 15px;
        padding-bottom: 5px;
      }
      &-info{
        font-size: 11px;
        padding-bottom: 40px;
      }
    }
  }
}    

.chat-main {
  height: 100%;
  width: calc(100vw - 300px);
  background-color: $side-font;
  &__group-info {
    height: 100px;
    display: flex;
    justify-content: space-between;
    .group-box {
      height: 100px;
      padding: 0px 20px;
    }
    .group-name {
      height: 60px;
      line-height: 100px;
      font-size: 20px;
      color: #333333;
    }
    .group-menbers{
      margin: 10px 10px 0 0;
      display: flex;
    }
    .group-member {
      font-size: 12px;
      color: #999999;
      margin-right: 5px;
      // margin-top: 15px;
      // display: inline-block;
    }
    .edit-btn{
      width: 72px;
      height: 40px;
      margin: 28px 40px;
      color: $btn-colar;
      border: solid 1px;
      @include flex;
      a{
        font-size: $fontSizeLarge;
        color: $btn-colar;
        text-decoration: none;
        padding: 0 20px ;
      }
    }
  }
  .messages {
    height: calc(100% - 100px - 90px);
    background-color: #fafafa;
    overflow: scroll;
  }
  &__message-list {    
    padding: 35px 0 0 40px;
    .name-box {
      display: flex;
      justify-content: left;
      .send-name {
        font-size: $fontSizeLarge;
        color: #333333;
        padding-bottom: 12px;
      }
      .send-date {
        font-size: 12px;
        color: #999999;
        margin-left: 10px;
      }
    }
      .send-message {
        font-size: 14px;
        color: #434A54;
        padding-bottom: 10px;
      }
  }
  .form {
    background-color: #d2d2d2;
    width: 100%;
    height: 90px;
    padding: 20px 40px;
    float: left;
    // display: flex;
    &__message {
      width: calc(100% - 200px);
      height: 50px;
      background-color: #ffffff;
      display: flex;
      justify-content: space-between;
      .form__text {
        width: 100%;
        line-height: 50px;
        border: none;
        padding-left: 15px;
      }
      .form__image {
        height: 50px;
        width: 50px;
        background-color:#ffffff;
        input{display: none;}
        position: relative
      }
    }
  }
  .form__submit {
    width: 100px;
    height: 50px;
    margin-left: 15px;
    background-color: $btn-colar;
    text-align: center;
    cursor: pointer;
    a{
      line-height: 50px;
      text-decoration: none;
      color: $side-font;
    }
  }
}
